<header>
    <div class="container">
        <h5>
            Welcome : {{loggedUser}}
        </h5>
    </div>
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="employee" routterLink = "/employee"> Add Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="employeelist" routterLink = "/employeelist"> List of Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routterLink = "report">Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click) = "logout()">Logout</a>
            </li>
        </ul>
    </nav>


</header>
